<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Regist</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../static/css/flat-ui.min.css" rel="stylesheet"> 
    <link href="../static/css/main.css" rel="stylesheet"> 
  </head>
  <body>
    <div class="container" style="text-align:left;">

      <div class="row">
        <div class="col-xs-12" style="padding-top:5px;">
          <button class="btn btn-primary" style="width:auto;margin:0;float:right;padding:0.5em 0.6em;"><span class="fui-plus"></span></button>
          <img src="../static/img/二兔几.jpg" style="width:2em;float:right;"/>
          <span style="float:right;padding-top:0.5em;">软泡泡</span>
        </div>
      </div>

      <div class="row">
        <div class=“col-xs-12>
          <div class="form-group searchForm login-form">
            <input type="text" class="form-control input-sm" id="search" placeholder="">
            <label class="login-field-icon fui-search" for="search"  style="margin-top:-3px;"></label>
          </div>
        </div>
      </div>

      <div class="row listback" class="">
        <div class="col-xs-2 headback">
          <img src="../static/img/RegistPic.jpg"class="head"/>
        </div>
        <div class="col-xs-10">
          <h2>大概是王昌龄</h2>
          <p>哇哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
          <p class="time">15:30</p>
          <div class="string"></div>
        </div>
      </div>

      <div class="row listback" class="">
        <div class="col-xs-2 headback">
          <img src="../static/img/RegistPic.jpg"class="head"/>
        </div>
        <div class="col-xs-10">
          <h2>大概是王昌龄</h2>
          <p>哇哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
          <p class="time">15:30</p>
          <div class="string"></div>
        </div>
      </div>

      <div class="row listback" class="">
        <div class="col-xs-2 headback"style="text-align:right;">
          <img src="../static/img/RegistPic.jpg"class="head"/>
        </div>
        <div class="col-xs-10">
          <h2>大概是王昌龄</h2>
          <p>哇哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
          <p class="time">15:30</p>
          <div class="string"></div>
        </div>
      </div>

      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="text-align:center;font-size:1.3em;">
          <div class="row">
            <div id="registPanel"class="col-xs-4 nav-icon">
              <span class="fui-chat nav-active"></span>
            </div>
            <div id="registPanel"class="col-xs-4 nav-icon">
              <span class="fui-user nav-unactive"></span>
            </div>
            <div id="registPanel"class="col-xs-4 nav-icon">
              <span class="fui-home nav-unactive"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>


  </body>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/flat-ui.min.js"></script>
</html>
