<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Regist</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../static/css/flat-ui.min.css" rel="stylesheet"> 
    <link href="../static/css/main.css" rel="stylesheet"> 
  </head>
  <body>
    <div class="container" style="text-align:center;">
      <div class="row">
        <div class="col-xs-12">
          <div id="rabbitIcon">
            <img src="../static/img/RegistPic.jpg" style="width:30%;">
          </div>
          <div class="row">
            <div class="registPanel col-xs-8 col-xs-offset-2">
              <div class="login-form form-group registForm">
                <div class="">
                  <input type="text" class="form-control flat" id="username" placeholder="放你想注册的账号欧！">
                  <label class="login-field-icon fui-user" for="username" ></label>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control flat" id="passowrd" placeholder="悄悄把密码放在这里&gt; &lt;"/>
                  <label class="login-field-icon fui-lock" for="password"></label>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control flat" id="nickname" placeholder="给自己起一个名字吧&gt; &lt;">
                  <label class="login-field-icon fui-heart" for="nickname"></label>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control flat" id="birthday" placeholder="把生日填进来欧">
                  <label class="login-field-icon fui-calendar" for="birthday"></label>
                </div>
                <label class="radio gender-radio">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  我是可爱的男孩纸
                </label>
                <label class="radio gender-radio">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  我是萌萌哒女孩纸
                </label>
                <label class="radio gender-radio">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  我..我不想和你说QAQ
                </label>
                <label class="checkbox" >
                  <input type="checkbox">
                  是否同意我们残酷的<a href="#" id="user-protocol">不平等条约</a>呢
                </label>
                <button type="submit" class="btn btn-primary"id="registButton">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>


  </body>
  <script src="../Ubootstrap/js/jquery-1.11.3.min.js"></script>
  <script src="../Ubootstrap/js/bootstrap.min.js"></script>
  <script src="../Ubootstrap/js/flat-ui.min.js"></script>
  <script>
    $(':radio').radiocheck();
    $(':checkbox').radiocheck();
  </script>
</html>
